#container{
    display: grid;
    grid-template-columns: repeat(16, 50px);
    grid-template-rows: repeat(16, 50px);
   }
   
.square{
    border: 2px black solid;
   }

.square:hover{
    background-color: black;
}