body{
    background-color: cornflowerblue;
}

#mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

.text{
    font-family: monospace;
    margin: 10px;
    color: antiquewhite;
}

.btn{
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 30px;
    width: 100px;
    transition: all 200ms linear;
}

#input{
    width: 90px;
}

#buttonContainer{
    display: flex;
    margin: 35px 0 10px 0;
    gap: 12px;
   
}

.container{
      display: grid;
      width: 600px;
      height: 500px;
      background-color: white;
}

.btn:focus{
    border: 2.5px coral solid;
    transition: 200ms;
}

.container:hover{
    cursor: pointer;
}

#buttonColors{
    display: flex;
    gap: 10px;
}

#black{
 background-color: black;
 color: white;
}

#rainbow{
 background: linear-gradient(red, yellow,blue, green, orange, violet, indigo);
 color: wheat;
 text-shadow: white 0px 0px 10px;
}