body{
    background-color: cornflowerblue;
}

#mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

.text{
    font-family: monospace;
    margin: 10px;
    color: antiquewhite;
}

.btn{
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 30px;
    width: 100px;
}

#input{
    width: 70px;
}

#buttonContainer{
    display: flex;
    text-align: center;
    gap: 10px;
    margin: 35px 0 10px 0;
}

.container{
      display: grid;
      width: 600px;
      height: 600px;
      background-color: white;
}

.container:hover{
    cursor: pointer;
}